.App {
  margin-left: 16rem;
}

@media (max-width: 70rem) {
  .App {
    margin-left: 4rem;
  }
}

@media (max-width: 52rem) {
  .App {
    margin-left: 15rem;
  }
}

@media (max-width: 48rem) {
  .App {
    margin-left: 2rem;
  }
}
