$light-grey: #666666;
$dark-grey: #333333;
$core-font-family: 'GT Eesti';

.dropdowns-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-bottom: 6rem;
  margin-left: 20rem;
}

.departments {
  margin-right: 16px;
  width: 14rem;
}

.locations {
  margin-left: 16px;
  width: 14rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: normal;
  letter-spacing: 0.15rem;
  font-family: $core-font-family;
  color: $light-grey;
}

.items {
  font-family: $core-font-family;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: normal;
  color: $dark-grey;
}

@media (max-width: 52rem) {
  .items {
    font-size: 1rem;
  }
  .title,
  .items {
    margin-bottom: 1rem;
  }
}

@media (max-width: 30.625rem) {
  .dropdowns-container {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .departments {
    margin-bottom: 3rem;
  }
  .locations {
    margin-left: 0rem;
  }
}

@media (max-width: 75rem) {
  .dropdowns-container {
    margin-left: 0rem;
  }
}
