$light-grey: #666666;
$dark-grey: #333333;
$core-font-family: 'GT Eesti';

.intro-section {
  display: flex;
  margin-top: 7rem;
  justify-content: flex-start;
  font-family: $core-font-family;
}

.message {
  margin-right: 2rem;
  width: 40%;
  &-header {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    font-family: $core-font-family;
    letter-spacing: 0.08rem;
    color: $light-grey;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    font-family: $core-font-family;
    line-height: 1.1;
    color: $dark-grey;
  }

  &-paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: $core-font-family;
    font-weight: 400;
    color: $light-grey;
  }
  &-icon {
    width: 27rem;
    height: 27rem;
    background-image: url('/assets/open-positions.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1rem;
  }
  &-icon:hover {
    background-image: url('/assets/open-positions.gif');
    cursor: pointer;
  }
}

@media (max-width: 52rem) {
  .intro-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .message {
    margin-bottom: 3rem;
    width: 50%;
  }

  .message-title {
    font-size: 2rem;
  }

  .message-paragraph {
    font-size: 1.25rem;
  }
  .message-icon {
    width: 15rem;
    height: 15rem;
    margin-left: 3rem;
  }
}
