body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GT Eesti';
  src: url('https://airtable.com/font/GT-Eesti-Display-Regular-2.eot')
      format('eot'),
    url('https://airtable.com/font/GT-Eesti-Display-Regular-2.ttf')
      format('ttf'),
    url('https://airtable.com/font/GT-Eesti-Display-Regular-2.woff')
      format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Eesti';
  src: url('https://airtable.com/font/GT-Eesti-Display-Medium-2.eot')
      format('eot'),
    url('https://airtable.com/font/GT-Eesti-Display-Medium-2.ttf') format('ttf'),
    url('https://airtable.com/font/GT-Eesti-Display-Medium-2.woff')
      format('woff');
  font-weight: 500;
}

span {
  transform: scale(2, 2);
}
